/*
  color: #FFFFFF
  color: #282828
  color: #969484 rgb(59, 58, 52)
  color: #EEEEEE
  color: #CCCCCC
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans";
  background-color: #292a2d;
  color: #969484;
  border-style: none;
  line-height: 1;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  border: none;
  border-style: none;
  box-shadow: none;
  color: #969484;
}
a:hover {
  color: #EEEEEE;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-bottom: 1px solid rgba(59, 58, 52, 0.7);
    margin: 1em 0;
    padding: 0;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
body {
  line-height: 33px;
  letter-spacing: 0.2px;
  animation: fadein 2s;
}

/* ---------------------------------------------------------------------------------------- */

*::-webkit-scrollbar {
    width: 1em;
}
*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
*::-webkit-scrollbar-thumb {
  background-color: #EEEEEE;
  outline: 1px solid: #EEEEEE;
}

/* ---------------------------------------------------------------------------------------- */

.crow {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.crow .crow-top {
  overflow: auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.crow .crow-bottom {
  border-top: 1px solid rgba(59, 58, 52, 0.7);
  width: 100%;
  text-align: center;
}
.crow .crow-bottom .crow-intro h1 {
  font-size: 60px;
  line-height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}


/* ---------------------------------------------------------------------------------------- */

.crow-left {
  height: 100%;
  width: 50%;
  overflow: hidden;
}
.crow-right {
  height: 100%;
  width: 50%;
  overflow: auto;
  border-left: 1px solid rgba(59, 58, 52, 0.7);
}
@media (max-width: 800px) {
  .crow .crow-top {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; 
  }
  .crow-left {
    width: 100%;
    height: 100%;
  }
  .crow-right {
    width: 100%;
    height: auto;
  }
 }

/* ---------------------------------------------------------------------------------------- */

.crow-preview {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #EEEEEE;
}
.crow-intro {
  width: 100%;
  max-height: 300px;
  text-align: center;
  padding-top: 15px;
}
.crow-page-nav {
  width: 100%;
  font-family: "simple-line-icons";
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction: row;
  border-bottom: 1px solid rgba(59, 58, 52, 0.7);
}

.crow-intro .tagline {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0.5px;
  color: #EEEEEE;
}
.crow-intro h1 {
  font-weight: 600;
  color: #CCCCCC;
  font-size: 30px;
  line-height: 30px;
}
.crow-intro .blobline {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0.5px;
  color: #EEEEEE;
}
.crow-intro .disabled {
  opacity: 0;
  cursor: default;
  pointer-events: none;
}

.crow-page-nav ul {
  list-style-type: none;
}
.crow-page-nav li {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.crow-left .video-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.crow-left .video {
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 100%;
}
.crow-left #map {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.crow-text {
  max-width: 650px;
  margin: auto;
  padding: 20px;
}
.crow-text h1 {
  font-size: 30px;
  overflow: hidden;
  margin-bottom: 10px;
  color: #CCCCCC;
}
.crow-text p {
  text-align: left;
}
.crow-text .highlight {
  padding: 10px;
}
.crow-text pre {
  width: 100%;
  line-height: 1.5em;
  text-align: left;
}
.crow-text iframe {
  width: 95%;
}
.crow-text ul, 
.crow-text ol,
.crow-text dl {
  margin-left: 2em;
}
.crow-text img {
  width: 100%;
  float: left;
  margin-bottom: 10px;
}
.crow-text a {
  border-bottom: 1px dotted;
}
.crow-text ul {
  text-align: left;
}

.crow-right img {
  width: 100%;
  float: left;
}

.crow-archive ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 600px) {
  .crow-archive ul {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: stretch;
  }
 }
.crow-archive li {
  border-bottom: 1px solid rgba(59, 58, 52, 0.7);
  border-right: 1px solid rgba(59, 58, 52, 0.7);
  padding: 10px;
  flex-basis: auto;
  flex-grow: 1;
  text-align: left;
}
.crow-archive li:hover {
  background-color: rgba(55, 55, 55, 55);
}
.crow-archive li a {
  font-size: 20px;
  padding: 20px;
  display: block;
  -webkit-transition: background-color 200ms ease-in;
  -moz-transition: background-color 200ms ease-in;
  -o-transition: background-color 200ms ease-in;
  transition: background-color 200ms ease-in;
  white-space: wrap;
  max-width: 400px;
}
@media (max-width: 600px) {
  .crow-archive li a {
    max-width: none;
  }
 }
.crow-archive li a time {
  color: #EEEEEE;
  font-size: 15px;
}
.crow-archive li {
  background-color: rgba(20, 20, 20, 0.1);
}
.crow-archive .map {
  background-color: rgba(20, 20, 20, 0.3);
}
.crow-archive .single {
  background-color: rgba(20, 20, 20, 0.5);
}
.crow-archive .text {
  background-color: rgba(20, 20, 20, 0.7);
}
.crow-archive .video {
  background-color: rgba(20, 20, 20, 0.9);
}

.crow-footer {
  flex-direction: row;
  width: 100%;
  bottom: 0;
  padding-top: 20px;
  background-color: rgba(59, 58, 52, 0.7);
  text-align: center;
}

.crow-links {
  width: 100%;
  padding-bottom: 30px;
  display: flow-root;
}
.crow-links .crow-link {
  width: 33%;
  float: left;
  display: block;
}
.crow-links .crow-link ul li:first-child {
  color: #EEEEEE;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 20px;
}
.crow-links .crow-link ul li {
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 10px;
  list-style-type: none;
}

.crow-credit {
  font-size: 12px;
  line-height: 14px;
  padding-bottom: 10px;
  opacity: 0.4;
}
