@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*----------------------------------------------------------------------------------------------------------------------------*/

/* definition of colors for color toggling */
:root {
  --font-color: #969484;
  --font-color-strong: #969484;
  --font-color-strong-two: #969422;
  --font-highlight-color: #eeeeee;
  --font-highlight-color-two: #f1ff42;
  --bg-color: #292a2d;
  --bg-color-two: #00243e;
  --line-color: 1px solid rgb(59, 58, 52, 0.7);
  --scrollbar-color: inset 0 0 6px rgba(0,0,0,0.3);
  --scrollbar-thumb-color: #eeeeee;
  --scrollbar-outline-color: 1px solid #eeeeee;
}

* {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  font-family: "Open Sans";
  color: var(--font-color);
  background-color: var(--bg-color);
  border-style: none;
  line-height: 1;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  border: none;
  border-style: none;
  box-shadow: none;
  color: var(--font-color);
}
a:hover {
  color: var(--font-highlight-color);
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-bottom: var(--line-color);
    margin: 1em 0;
    padding: 0;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
body {
  line-height: 33px;
  letter-spacing: 0.2px;
  animation: fadein 2s;
}

/* ---------------------------------------------------------------------------------------- */

*::-webkit-scrollbar {
    width: 1em;
}
*::-webkit-scrollbar-track {
    -webkit-box-shadow: var(--scrollbar-color);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  outline: var(--scrollbar-outline-color);
}

/* ---------------------------------------------------------------------------------------- */

.crow {
  display: flex;
  flex-direction: row;
}

/* ---------------------------------------------------------------------------------------- */

.crow-left {
  height: 100%;
  width: 350px;
  overflow: hidden;
}
.crow-right {
  height: 100%;
  width: calc(100% - 350px);
  overflow: auto;
  border-left: var(--line-color);
}
.crow-footer {
  display: none;
}
@media (max-width: 800px) {
  .crow {
    flex-direction: column;
  }
  .crow-left {
    width: 100%;
    height: auto;
  }
  .crow-right {
    width: 100%;
    height: auto;
  }
  .crow-footer {
    display: block;
  }
  .crow-tribute {
    display: none;
  }
}
@media (max-width: 500px) {
 .profile {
    visibility: hidden;
  }
  .crow-intro {
    background-image: url(/profile_2.png);
    background-position: top center;
    background-repeat: no-repeat;
  }
}

/* ---------------------------------------------------------------------------------------- */

.crow-preview {
  width: 100%;
  height: 100%;
  display: block;
  background-color: var(--font-highlight-color);
}
.crow-intro {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.crow-page-nav {
  border-top: var(--line-color);
  border-bottom: var(--line-color);
  background-color: rgba(0, 0, 0, 0.1);
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
}

.crow-intro .tagline {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.5px;
  color: var(--font-highlight-color);
}
.crow-intro h1 {
  font-weight: 200;
  color: var(--font-highlight-color);
  font-size: 55px;
  line-height: 65px;
  margin-left: 15px;
  margin-right: 15px;
  word-break: keep-all;
}
.crow-intro .blobline {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0.5px;
  color: var(--font-highlight-color);
}
.crow-intro .disabled {
  opacity: 0;
  cursor: default;
  pointer-events: none;
}

.crow-page-nav ul {
  list-style-type: none;
}
.crow-page-nav li {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
}

.crow-right .preview-image {
  display: block;
  width: calc(100% - 10px);
  height: 400px;
  background-position: center;
  background-size: cover;
}
.crow-right .video-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.crow-right .video {
  object-fit: cover;
  object-position: 50% 50%;
  width: calc(100% - 10px);
  height: 400px;
}
.crow-right #map {
  width: calc(100% - 10px);
  height: 400px;
  padding: 0;
  margin: 0;
}
.crow-right pre code {
  width: calc(100% - 10px);
  white-space: pre-wrap;
}

.crow-content {
  padding: 30px 0px 30px 10px;
  max-width: 850px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 10px;
  border-right: var(--line-color);
}
.crow-content h1 {
  font-size: 30px;
  margin-bottom: 10px;
}
.crow-content p {
  width: 100%;
  text-align: left;
}
body .crow .crow-right strong {
  color: var(--font-color-strong);
  font-weight: bold;
}
body.theme_two .crow .crow-right strong {
  color: var(--font-color-strong-two);
}
.crow-content .highlight {
  padding: 10px;
}
.crow-content pre {
  width: 100%;
  line-height: 1.5em;
  text-align: left;
}
.crow-content iframe {
  width: 100%;
}
.crow-content ol {
  margin-left: 1.5em;
}
.crow-content ul, 
.crow-content dl {
  margin-left: 1em;
}
.crow-content a {
  border-bottom: 1px dotted;
}
.crow-content ul {
  text-align: left;
}
.crow-content .gallery {
  width: calc(100%/3 - 10px);
}
.crow-content img {
  width: 100%;
}
.crow-content .warning {
  width: 100%;
  background-color: #9e2525;
  color: #ffffff;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.crow-archive ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 600px) {
  .crow-archive ul {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: stretch;
  }
 }
.crow-archive li {
  border-bottom: 1px solid rgba(59, 58, 52, 0.7);
  border-right: 1px solid rgba(59, 58, 52, 0.7);
  padding: 10px;
  flex-basis: auto;
  flex-grow: 1;
  text-align: left;
}
.crow-archive li:hover {
  -webkit-transition: background-color 1s, box-shadow 250ms; /* Safari prior 6.1 */
  transition: background-color 1s, box-shadow 250ms;
  background-color: rgba(55, 55, 55, 55);
  box-shadow: inset 0 -5px 0 #ffffff;
}
.crow-archive li a {
  font-size: 20px;
  padding: 20px;
  display: block;
  white-space: wrap;
  max-width: 400px;
}
@media (max-width: 600px) {
  .crow-archive li a {
    max-width: none;
  }
 }
.crow-archive li a time {
  color: var(--font-highlight-color);
  font-size: 15px;
}
.crow-archive .map {
  background-color: rgba(20, 20, 20, 0.3);
}
.crow-archive .single {
  background-color: rgba(20, 20, 20, 0.5);
}
.crow-archive .text {
  background-color: rgba(20, 20, 20, 0.7);
}
.crow-archive .video {
  background-color: rgba(20, 20, 20, 0.9);
}

.crow-tribute {
  flex-direction: row;
  width: 100%;
  bottom: 0;
  text-align: center;
  padding: 10px;
}

.crow-footer {
  border-top: var(--line-color);
  padding: 10px;
  flex-direction: row;
  width: 100%;
  bottom: 0;
  padding-top: 5px;
  text-align: center;
}

.crow-links {
  width: 100%;
  padding-bottom: 30px;
  display: flow-root;
}
.crow-links .crow-link {
  width: 33%;
  float: left;
  display: block;
}
.crow-links .crow-link ul li:first-child {
  color: var(--font-highlight-color);
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 20px;
}
.crow-links .crow-link ul li {
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 10px;
  list-style-type: none;
}

.crow-credit {
  font-size: 12px;
  line-height: 14px;
  opacity: 0.4;
}

/* ---------------------------------------------------------------------------------------- */

body.theme_two {
  color: var(--font-color);
  background-color: var(--bg-color-two);
}

body.theme_two h1 {
  color: var(--font-highlight-color-two);
}

.toggle {
  margin-top: 9px;
  position: relative;
  height: 12px;
  width: 30px;
  border-radius: 10px;
  background-color: var(--font-highlight-color);
  cursor: pointer;
}

.toggle:before {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  background: var(--bg-color);
  border-radius: 50%;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
}

.toggle.active::before {
  background-color: #061b4a;
  left: calc(100% - 10px - 2px);
}

.crow-content * a {
  background-color: #FEC45E;
  color: #000;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  margin-right: 10px;
  white-space: nowrap;
}
.crow-content * a:hover {
  background-color: #289DAA;
}

blockquote {
  background-color: #c0c0c035;
  border-bottom: 5px solid #c0c0c015;
  display: block;
  padding: 20px;
  margin-right: 10px;
}
