@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
  --font-color: #969484;
  --font-color-strong: #969484;
  --font-color-strong-two: #969422;
  --font-highlight-color: #eeeeee;
  --font-highlight-color-two: #f1ff42;
  --bg-color: #292a2d;
  --bg-color-two: #00243e;
  --line-color: 1px solid rgb(59, 58, 52, 0.7);
  --scrollbar-color: inset 0 0 6px rgba(0,0,0,0.3);
  --scrollbar-thumb-color: #eeeeee;
  --scrollbar-outline-color: 1px solid #eeeeee;
}

* {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

html, body {
  height: 100%;
}

body {
  font-family: "Open Sans";
  color: var(--font-color);
  background-color: var(--bg-color);
  border-style: none;
  line-height: 1;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  border: none;
  border-style: none;
  box-shadow: none;
  color: var(--font-color);
}
a:hover {
  color: var(--font-highlight-color);
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-bottom: var(--line-color);
    margin: 1em 0;
    padding: 0;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

body {
  line-height: 33px;
  letter-spacing: 0.2px;
  animation: fadein 2s;
}

*::-webkit-scrollbar {
    width: 1em;
}
*::-webkit-scrollbar-track {
    -webkit-box-shadow: var(--scrollbar-color);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  outline: var(--scrollbar-outline-color);
}

h1 {
  color: #ffffff;
}

.crow {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.crow div {
  width: 400px;
  height: 250px;
  text-align: center;
}

ul {
  text-align: center;
  list-style-type: none;
  display: inline-block;
}

li {
  float: left;
  width: 20px;
  height: 20px;
  margin: 5px;
}